x.navbar-inverse{
    background-color: #1E2681;
    border-color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a{
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #ADADAD;
}

.navbar-inverse .navbar-nav > li > a:active{
    color: #ADADAD;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background-color: #ADADAD;
    color: #ffffff;

}

.navbar-inverse{
    background-color: #1E2681;
    color: #ffffff;

}

.dropdown-menu, .btn-primary{
    background-color: #1E2681;
}

.dropdown-menu > li > a, .dropdown-menu > li > a:active, .dropdown-menu > li > a:hover{
    color: #ffffff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ADADAD;
}

.navbar-fixed-top{
    height: 65px;
}

.navbar-ex1-collapse{
    margin-top: 8px;
    background-color: #1E2681;
}

.imageRadiusBorder{
    width: 215px; 
    height: 215px;
    overflow: hidden;
    border-radius: 100%;
}

.siteMapFooterItem{
    border-right: 1px solid #eee; 
    padding: 0 15px;
    min-height: 170px;
}

.siteMapFooterItemLast{
    padding: 0 15px;
}

.tsFooter .col-md-2{
    padding-left: 0;
    padding-right: 0;
}

.tsFooter.well{
    margin-bottom: 0;
}

.top_shadow {
    height: 109px;
}

.waterMark {
    background: url("../images/watermark.png") no-repeat;
    /*    background-size: 40% auto;*/
}

.tsImg {
    box-shadow: 10px 10px 24px #797979;
    border-radius:10px;
}

.slider_shadow {
    box-shadow: 0px 0px 80px #797979;
}

.slider_border {
    border-radius:10px;
}

/*Bootstrap override*/
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

#top_shadow_image {
    width: 100%;
}

#loginLock{
    color: #1E2681;
}

#logo{
    margin-top: -18px;
}

#logoName{
    margin-top: -6px;
    margin-left: -11px;
}

#frmContact{
    margin-top: 25px;
}

#container404{
    margin-top: -80px;
}

/*
    Customized GCS (Google Custom Search)
*/
.gsc-adBlock{
    display: none;
}
.gsc-option-menu-container .gsc-inline-block{
    width: 75px!important;
}

.gsc-wrapper{
    border: 1px solid #eee;
}

#searchform #s{
    color: #49494b;
    font-size: 12px;
    width: 160px;
    height: 21px;
    margin: 0px 0px 5px 0px;
    padding: 2px 35px 2px 8px;
    border: 0;
    background: #f0efeb;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#searchform #searchsubmit{
    position: absolute;
    top: 10px;
    right: -13px;
    width: 20px;
    height: 25px;
    border: 0px;
    background: url(../images/search.png) no-repeat transparent 0px 5px;
}

ul#loadbar {
    list-style: none;
    width: 140px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 75px;
}

ul#loadbar li {
    float: left;
    position: relative;
    width: 11px;
    height: 26px;
    margin-left: 1px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    background: #000;
}

ul#loadbar li:first-child { margin-left: 0 }
.bar {
    background-color: #2187e7;
    background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    background-image: -ms-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    background-image: -o-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    background-image: linear-gradient(45deg, #2187e7 25%, #a0eaff);
    width: 11px;
    height: 26px;
    opacity: 0;
    -webkit-animation: fill .5s linear forwards;
    -moz-animation: fill .5s linear forwards;
    -ms-animation: fill .5s linear forwards;
    animation: fill .5s linear forwards;
}

#layerFill1 {
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#layerFill2 {
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}

#layerFill3 {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#layerFill4 {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
}

#layerFill5 {
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#layerFill6 {
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}

#layerFill7 {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

#layerFill8 {
    -moz-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
}
#layerFill9 {
    -moz-animation-delay: 4.5s;
    -webkit-animation-delay: 4.5s;
    -ms-animation-delay: 4.5s;
    animation-delay: 4.5s;
}

#layerFill10 {
    -moz-animation-delay: 5s;
    -webkit-animation-delay: 5s;
    -ms-animation-delay: 5s;
    animation-delay: 5s;
}

@-moz-keyframes fill {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes fill {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-ms-keyframes fill {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fill {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.vcard, #HTML2, #AdSense1, #BlogArchive1, #Label1, #AdSense2 {display:none;}.post {font-size:14px;}
.footer, .post-footer, .feed-links, .sidebar,.fauxcolumn-right-outer,.column-right-outer, #HTML6 , .home-link, .banners {display:none !important;}
.main-inner .columns{padding-right:0 !important;}.column-center-outer{width:95% !important;}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse.collapse.in { display: block!important; margin-top: 15px;}
}